<h2>Clientes</h2>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>CPF</th>
      <th>Nome</th>
      <th>Idade</th>
    </tr>
  </thead>
  <tbody *ngIf="clientes && clientes.length">
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.id}}</td>
      <td>{{cliente.cpf}}</td>
      <td>{{cliente.nome}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!clientes.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
