<app-titulo
  [titulo]="'Corretoras'"
  [iconClass]="'fas fa-landmark'"
  [subTitulo]="'Tela para cadastro de corretoras da autorizadas pela cvm'"
  [botaoListar]="true"
>
</app-titulo>
<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="mostrarOcultarImagen()">
          <i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!mostrarImagem ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Descrição</th>
      <th>Cliente</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="corretoras && corretoras.length">
    <tr *ngFor="let corretora of corretoras">
      <td>
        <img [collapse]="!mostrarImagem"
             [isAnimated]="true"
             src="/assets/{{corretora.imagen}}"
             [style.width.px]="largudaImagem"
             [style.margin.px]="margemImagem"
        >
      </td>
      <td>{{corretora.id}}</td>
      <td>{{corretora.descricao}}</td>
      <td>{{corretora.clientesCorretoras[0]}}</td>
      <td>
        <button class="btn btn-outline-primary btn-sm me-md-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!corretoras.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma a exclusão?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

