<div class="card rounded shadow-sm p-3">

  <div class="d-flex">
    <div class="flex-fill pe-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Filtrar por descrição"
          [(ngModel)]="filtroLista"
        >
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/tesourosdiretos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ms-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Descrição</th>
        <th>Data de Vencimento</th>
        <th>Juros Semestrais</th>
        <th>Tipo de Investimento</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="tesourosDiretos && tesourosDiretos.length">
      <tr *ngFor="let tesouroDireto of tesourosDiretosFiltrados" >
        <td></td>
        <td>{{tesouroDireto.descricao | uppercase}}</td>
        <td>{{tesouroDireto.dataDeVencimento}}</td>
        <td>{{tesouroDireto.jurosSemestrais}}</td>
        <td>{{tesouroDireto.tipoDeInvestimento.descricao }}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm me-md-2" tooltip="Editar" (click)="editarTesouroDireto(tesouroDireto.id)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal($event, template, tesouroDireto.id)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!tesourosDiretos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum Tesouro Direto encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o Tesouros Direto de código {{this.tesouroDiretoId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

