<div class="card rounded shadow-sm p-3">
  <app-filtrar
    [rotaLink]="'/segmentosanbimas/detalhe'"
    (filtroAcionado)="onFiltroAcionado($event)">
  </app-filtrar>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="segmentosAnbimas && segmentosAnbimas.length">
      <tr *ngFor="let segmentoAnbima of segmentosAnbimasFiltrados" >
        <td>{{segmentoAnbima.id}}</td>
        <td>{{segmentoAnbima.descricao | uppercase}}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm me-md-2" tooltip="Editar" (click)="editarSegmentoAnbima(segmentoAnbima.id)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal($event, template, segmentoAnbima.id)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!segmentosAnbimas.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum Segmento Anbima encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o Tipo de Investimento de código {{this.segmentoAnbimaId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

