<br>
<app-filtrar
  [botaoNovo]="false"
  [placerHolder]="'Filtrar por código do ativo'"
  (filtroAcionado)="onFiltroAcionado($event)">
</app-filtrar>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Código</th>
      <th>Qtd</th>
      <th>Preço Médio</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="portifolios && portifolios.length">
    <tr *ngFor="let portifolio of portifoliosFiltrados" >
      <td>{{ portifolio.ativo.codigoDoAtivo }}</td>
      <td>{{ portifolio.quantidade }}</td>
      <td>{{ portifolio.precoMedio | currency:'BRL':'symbol':'1.2-2'}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button
          class="btn btn-primary btn-sm me-md-2"
          tooltip="Comprar"
          (click)="openModal($event, template, portifolio.carteiraId, portifolio.ativoId, this.tipoDeMovimentacaoCompra)"
        >
          <i class="fa fa-arrow-up"></i>
          Comprar
        </button>
        <button
          class="btn btn-success btn-sm"
          tooltip="Vender"
          (click)="openModal($event, template, portifolio.carteiraId, portifolio.ativoId, this.tipoDeMovimentacaoVenda)"
        >
          <i class="fa fa-arrow-down"></i>
          Vender
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!portifolios.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Ativo encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Compra ou Venda</h5>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="p-2">
        <div class="row">
          <div class="form-group col-md-6" [ngClass]="cssValidator(f.tipoDeMovimentacao)">
            <label class="control-label">Tipo de Movimentacao</label>
            <select class="form-control" id="tipoDeMovimentacao" formControlName="tipoDeMovimentacao">
              <option *ngFor="let item of tipoDeMovimentacaoOp" [value]="item.valor">{{ item.desc }}</option>
            </select>
          </div>
          <div class="form-group col-md-6" [ngClass]="cssValidator(f.codigoDoAtivo)">
            <label class="control-label">Ativo</label>
            <input
              type="text" class="form-control"
              value="{{ this.ativo.codigoDoAtivo }}"
              [ngClass]="cssValidator(f.codigoDoAtivo)"
              formControlName="codigoDoAtivo"
              placeholder=""
            >
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label>Data da operação</label>
            <input
              type="datetime" class="form-control"
              [ngClass]="cssValidator(f.dataDaOperacao)"
              value="{{lancamento.dataDaOperacao | DateFormatPipe }}"
              bsDatepicker
              [bsConfig]="bsConfig"
              formControlName="dataDaOperacao"
              placeholder=""
            >
            <div *ngIf="f.dataDaOperacao.errors?.required" class="invalid-feedback">
              Data da operação é obrigatória.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Quantidade</label>
            <input
              type="text"
              currencyMask
              [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', precision: 0 }"
              [ngClass]="cssValidator(f.quantidade)"
              class="form-control"
              formControlName="quantidade"
              placeholder=""
            >
            <div *ngIf="f.quantidade.errors?.required" class="invalid-feedback">
              Quantidade é obrigatório.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Valor</label>
            <input
              type="text"
              currencyMask
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left', precision: 2 }"
              [ngClass]="cssValidator(f.valorDaOperacao)"
              class="form-control"
              formControlName="valorDaOperacao"
              placeholder=""
            >
            <div *ngIf="f.valorDaOperacao.errors?.required" class="invalid-feedback">
              Valor da operação é obrigatório.
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" (click)="decline()" >Cancelar</button>
    <button class="btn btn-success" (click)="confirm()" >Confirmar</button>
  </div>
</ng-template>
