<div class="card rounded shadow-sm p-3">

  <div class="d-flex">
    <div class="flex-fill pe-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Filtrar por descrição"
          [(ngModel)]="filtroLista"
        >
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/clientes/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ms-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>
          <button class="btn btn-outline-light btn-sm" (click)="mostrarOcultarImagen()">
            <i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{!mostrarImagem ? 'Exibir' : 'Ocultar'}}
          </button>
        </th>
        <th>#</th>
        <th>Descrição</th>
        <th>Cliente</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="corretoras && corretoras.length">
      <tr *ngFor="let corretora of corretorasFiltradas">
        <td>
          <img [collapse]="!mostrarImagem"
              [isAnimated]="true"
              src="/assets/{{corretora.imagen}}"
              [style.width.px]="largudaImagem"
              [style.margin.px]="margemImagem"
          >
        </td>
        <td>{{corretora.id}}</td>
        <td>{{corretora.descricao}}</td>
        <td>{{corretora.clientesCorretoras[0]}}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm me-md-2" tooltip="Editar" (click)="detalheCorretora(corretora.id)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!corretoras.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma a exclusão?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
